.primary {
  color: var(--text-redesigned);
}

.accent {
  color: var(--accent-redesigned);
}

// TODO
.error {
  color: var(--error-color);
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

.xs {
  font: var(--font-xs-redesigned);
}

.sm {
  font: var(--font-sm-redesigned);
}

.md {
  font: var(--font-md-redesigned);
}

.lg {
  font: var(--font-lg-redesigned);
}

.bold {
  font-weight: 900;
}

.regular {
  font-weight: 400;
}
