@import "reset";
@import "variables/global";
@import "themes/light";
@import "themes/dark";
@import "themes/color";

.app {
  font: var(--font-sm);
  background: var(--bg-color);
  color: var(--primary-color);
  min-height: 100vh;
}

/* ScrollBar */
*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--inverted-primary-color);
  border-radius: 20px;
}
