@import "reset";
@import "variables/global";
@import "themes/light";
@import "themes/dark";
@import "components/dropdownMenu";

.app {
  display: flex;
  flex-direction: column;
  font: var(--font-sm);
  background: var(--bg-color);
  color: var(--primary-color);
  height: 100vh;
}

.app-content {
  flex-grow: 1;
  min-height: 0;
}

/* ScrollBar */
*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--bg-secondary-color);
  border-radius: 20px;
}

/* ==== REDESIGN ==== */

.app-redesigned {
  font: var(--font-sm-redesigned);
  background: var(--bg-redesigned);
  color: var(--text-redesigned);
  height: 100%;
}