@import 'app/styles/mixins/trancation';
@import 'app/styles/mixins/line-clamp';

.ArticleGridView {
  width: 241px;
  height: 350px;
  overflow: hidden;
  transition: transform 0.3s;

  &:hover {
    transform: scale(1.03);
  }
}

.img {
  width: 100%;
  height: 141px;
  object-fit: cover;
}

.imageError {
  width: 100%;
  height: 141px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url('../../../../shared/assets/images/no-image.webp');
}

.content {
  flex-grow: 1;
  padding: 16px;
}

.info {
  margin-top: auto;
}

.title {
  @include line-clamp(3);
}

.viewsIcon {
  color: var(--icon-redesigned);
}

.category {
  @include trancation;
}
