.Card {
  border-radius: var(--border-radius-redesigned);
  background: var(--dark-bg-redesigned);
}

.padding24 {
  padding: 24px;
}

.padding16 {
  padding: 16px;
}

.padding8 {
  padding: 8px;
}

.padding2 {
  padding: 2px;
}

.padding0 {
  padding: 0;
}
