:root {
  --font-family-main: consolas, "Times New Roman", serif;

  --font-size-xs: 12px;
  --font-line-xs: 16px;
  --font-xs: var(--font-size-xs) / var(--font-line-xs) var(--font-family-main);

  --font-size-sm: 16px;
  --font-line-sm: 24px;
  --font-sm: var(--font-size-sm) / var(--font-line-sm) var(--font-family-main);

  --font-size-md: 24px;
  --font-line-md: 32px;
  --font-md: var(--font-size-md) / var(--font-line-md) var(--font-family-main);

  --font-size-lg: 32px;
  --font-line-lg: 40px;
  --font-lg: var(--font-size-lg) / var(--font-line-lg) var(--font-family-main);

  --sidebar-width: 300px;
  --sidebar-width-collapsed: 80px;

  --overlay-bg: rgb(0 0 0 / 60%);
  --error-color: #f00;
  --active-color: #832c2c;

  --border-radius: 6px;

  --page-margin: 30px 5px 10px 0;
  --page-padding: 0 30px;

  /* z-index */
  --modal-z-index: 10;
  --dropdown-menu-z-index: 9;
  --popover-z-index: 9;

  /* ==== REDESIGN ==== */
  --font-family-title-redesigned: "Roboto", sans-serif;
  --font-family-text-redesigned: "Nunito Sans", sans-serif;

  --font-size-xs-redesigned: 12px;
  --font-line-xs-redesigned: 16px;
  --font-xs-redesigned: var(--font-size-xs-redesigned) / var(--font-line-xs-redesigned) var(--font-family-text-redesigned);

  --font-size-sm-redesigned: 16px;
  --font-line-sm-redesigned: 24px;
  --font-sm-redesigned: var(--font-size-sm-redesigned) / var(--font-line-sm-redesigned) var(--font-family-text-redesigned);

  --font-size-md-redesigned: 24px;
  --font-line-md-redesigned: 32px;
  --font-md-redesigned: var(--font-size-md-redesigned) / var(--font-line-md-redesigned) var(--font-family-title-redesigned);

  --font-size-lg-redesigned: 32px;
  --font-line-lg-redesigned: 40px;
  --font-lg-redesigned: var(--font-size-lg-redesigned) / var(--font-line-lg-redesigned) var(--font-family-title-redesigned);

  --border-radius-redesigned: 34px;
}
