.ArticleDetails {
  min-height: 100%;
}

.backLink {
  color: var(--primary-color);
}

.avatar {
  margin: 0 auto;
}

.title {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 16px;
}

.skeleton {
  margin-top: 15px;
}

.articleInfo {
  display: flex;
  align-items: center;
}

.icon {
  margin-right: 8px;
}

.block {
  margin-top: 16px;
}
