@import 'app/styles/mixins//addon-icons';

.Button {
  cursor: pointer;
  color: var(--text-redesigned);
  padding: 9px 16px;
  background: none;
  border: none;
  display: flex;
  align-items: center;

  &.withAddon {
    padding: 5px 16px;
  }

  &:hover {
    color: var(--accent-redesigned);
  }

  &.active {
    color: var(--accent-redesigned);
  }
}

.solid {
  border-radius: var(--border-radius-redesigned);
  background-color: var(--light-bg-redesigned);
}

.ghost {
  &:hover {
    background-color: var(--light-bg-redesigned);
  }
}

.icon {
  padding: 0;
  color: var(--icon-redesigned);
}

.sm {
  font: var(--font-sm-redesigned);
}

.md {
  font: var(--font-md-redesigned);
}

.lg {
  font: var(--font-lg-redesigned);
}

.addon {
  @include addon-icons;
}

.addonRight {
  margin-left: auto;
}
