.Button {
  cursor: pointer;
  color: inherit;
}

.ghost {
  outline: none;
  background: none;
  border: none;
}

.outline {
  padding: 10px 15px;
  background-color: transparent;
  border: 1px solid var(--primary-color);
}
