.CodeWrapper {
  position: relative;
  background: var(--bg-secondary-color);
  overflow: auto;
  display: flex;
  align-items: baseline;
}

.copyBtn {
  position: absolute;
  right: 5px;
  top: 5px;
}

.code {
  padding-top: 20px;
  margin-left: 10px;
}

.rows {
  text-align: right;
  padding: 20px;
  background: var(--bg-secondary-color);
  border-right: 1px solid var(--bg-tertiary-color);
}

.rowsItem {
  color: var(--bg-tertiary-color);
}
