.Sidebar {
  position: relative;
  height: calc(100vh - var(--header-height));
  width: var(--sidebar-width);
  background-color: var(--inverted-bg-color);
  padding: 20px;
  transition: width 0.3s;
  flex-shrink: 0;
}

.content {
  height: 100%;
}

.collapsed {
  width: var(--sidebar-width-collapsed);
}

.switchers {
  margin-top: auto;
}

.toggleBtn {
  position: absolute;
  bottom: 40px;
  right: -40px;
  z-index: 1;
}
