@import 'app/styles/mixins/line-clamp';

.title {
  @include line-clamp(2);
}

.img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.imageError {
  width: 100%;
  height: 300px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url('@/shared/assets/images/no-image.webp');
}

.textBlock {
  @include line-clamp(3);
}

.viewsIcon {
  color: var(--icon-redesigned);
}
