@import "app/styles/mixins/trancation";

.ArticleGridView {
  width: 100%;
  transition: transform 0.2s;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
    transform: scale(1.01);

    .date {
      opacity: 1;
    }
  }
}

.imageWrapper {
  position: relative;
  max-width: 250px;
  max-height: 250px;
  width: 100%;
  height: 100%;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.date {
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0;
  transition: opacity 0.2s;
}

.infoWrapper {
  display: flex;
  align-items: center;
  margin-top: 8px;
}

.types {
  max-width: 115px;

  @include trancation;
}

.views {
  margin-left: auto;
  margin-right: 8px;
}

.title {
  margin-top: 8px;

  @include trancation;
}