.InputWrapper {
  display: flex;
  color: var(--primary-color);
}

.label {
  display: flex;
  margin-right: 5px;
}

.inputContent {
  flex-grow: 1;
  position: relative;
}

.input {
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  caret-color: transparent;
  color: inherit;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  &:focus {
    outline: none;
  }

  &.readOnly {
    opacity: 0.7;
  }

  &::placeholder {
    color: var(--secondary-color);
  }
}

.carret {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 1ch;
  height: 2px;
  background: var(--primary-color);
  animation: blink 0.8s step-end infinite;
}

@keyframes blink {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
