@import 'app/styles/mixins//addon-icons';

.InputWrapper {
  border-radius: var(--border-radius-redesigned);
  border: 1px solid var(--icon-redesigned);
  width: 100%;
  padding: 8px 16px;

  &.withAddon {
    padding: 4px 8px;
  }

  &.focused {
    border-color: var(--accent-redesigned);

    .addon {
      color: var(--accent-redesigned);
    }
  }

  &.readOnly {
    opacity: 0.7;
    pointer-events: none;
  }
}

.input {
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  color: var(--text-redesigned);

  &::placeholder {
    color: var(--hint-redesigned);
  }
}

.addon {
  flex-shrink: 0;
  color: var(--icon-redesigned);

  @include addon-icons;
}

.label {
  flex-shrink: 0;
}
