.DropdownMenu {
  position: relative;
}

.btn {
  background: none;
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.menuList {
  background: var(--bg-color);
  position: absolute;
  z-index: var(--dropdown-menu-z-index);
  border-radius: 8px;
  border: 1px solid var(--bg-tertiary-color);
  flex-direction: column;
  display: flex;
  overflow: hidden;
  width: max-content;
  max-width: 250px;
}

.menuItem {
  padding: 10px 25px;
  width: 100%;
  border: none;
  background: none;
  outline: none;
  color: var(--primary-color);
  cursor: pointer;
  text-align: left;
}

.menuItemActive {
  background: var(--bg-secondary-color);
}

.bottomLeft {
  top: 100%;
  left: 0;
}

.bottomRight {
  top: 100%;
  right: 0;
}

.topRight {
  bottom: 100%;
  right: 0;
}

.topLeft {
  left: 0;
  bottom: 100%;
}
