.dropdownMenu {
  display: flex;
  flex-direction: column;
  width: max-content;
  max-width: 250px;

  // TODO
  .dropdownItem {
    // padding: 10px 25px;
    // width: 100%;
    // text-align: left;
    // border: none;
    border-radius: 0;
    // background: none;
    // outline: none;
    // color: var(--text-redesigned);
    // cursor: pointer;
  }
}
