.color {
  --bg-color: #b2239a;
  --inverted-bg-color: #fbf4fa;

  --primary-color: #fbf4fa;
  --secondary-color: #b2239a;

  --inverted-primary-color: #601d91;
  --inverted-secondary-color: #601d91;
}