.color {
  --bg-color: #b2239a;
  --inverted-bg-color: #fbf4fa;

  --primary-color: #fbf4fa;
  --secondary-color: #b2239a;

  --inverted-primary-color: #601d91;
  --inverted-secondary-color: #601d91;

  // Skeleton
  --skeleton-color: #bf4aac;
  --skeleton-shadow: #4a166e;

  // Code
  --code-bg: #9c1f87;
  --code-row-bg: #791869;
  --code-row-color: #a53593;

  // card
  --card-bg: #fbf4fa;
}