.dark {
  --bg-color: #201c2b;
  --bg-secondary-color: #392e5c;
  --bg-tertiary-color: #af00ed;

  --primary-color: #dad8de;

  // Button
  --btn-bg-primary-color: #944fff;
  --btn-bg-secondary-color: #af00ed;
  --btn-color: #fff;

  // Skeleton
  --skeleton-color: #41346b;
  --skeleton-shadow: #6752ab;

  // Link
  --link-color: #fff;

  /* ==== REDESIGN ==== */
  --bg-redesigned: #0c1214;
  --dark-bg-redesigned: #090f11;
  --light-bg-redesigned: #151c1f;
  --text-redesigned: #dbdbdb;
  --hint-redesigned: #555;
  --cancel-redesigned: #d95757;
  --save-redesigned: #6cd98b;
  --icon-redesigned: #74a2b2;
  --accent-redesigned: #5ed3f3;
}
