.light {
  --bg-color: #f3f4f5;
  --bg-secondary-color: #fff;
  --bg-tertiary-color: #d0d7de;

  --primary-color: #2f2f2f;

  // Button
  --btn-bg-primary-color: #944fff;
  --btn-bg-secondary-color: #af00ed;
  --btn-color: #fff;

  // Skeleton
  --skeleton-color: #ebeef1;
  --skeleton-shadow: rgba(0 0 0 / 20%);

  // Link
  --link-color: #0452ff;

  /* ==== REDESIGN ==== */
  --bg-redesigned: #eff5f6;
  --dark-bg-redesigned: #fff;
  --light-bg-redesigned: #e2eef1;
  --text-redesigned: #141c1f;
  --hint-redesigned: #adbcc0;
  --cancel-redesigned: #f77;
  --save-redesigned: #62de85;
  --icon-redesigned: #5ed3f3;
  --accent-redesigned: #00c8ff;
}
