.ProfileCard {
  padding: 20px;
  border: 2px solid var(--primary-color);
  border-radius: var(--border-radius);
  min-height: 400px;
}

.editCard {
  border-color: var(--bg-tertiary-color);
}

.avatar {
  margin: 0 auto;
}
