.ProfileCard {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: fit-content;
  padding: 20px;
  border: 2px solid var(--inverted-bg-color);
}

.editCard {
  border-color: var(--inverted-primary-color);
}

.avatar {
  margin: 0 auto;
}
