.Popover {
  position: relative;
}

.panel {
  background: var(--bg-color);
  position: absolute;
  border-radius: 8px;
  padding: 15px;
  z-index: var(--popover-z-index);
  border: 1px solid var(--bg-tertiary-color);
}

.trigger {
  background-color: transparent;
  cursor: pointer;
}

.bottomLeft {
  top: 100%;
  left: 0;
}

.bottomRight {
  top: 100%;
  right: 0;
}

.topRight {
  bottom: 100%;
  right: 0;
}

.topLeft {
  left: 0;
  bottom: 100%;
}
