.ArticlesPageFilter {
  margin-bottom: 30px;
}

.sortWrapper {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.viewSwitcher {
  margin-left: auto;
}

.search {
  margin-bottom: 20px;
}

.categories {
  display: flex;
  align-items: center;
  gap: 10px;
}

.categoryChip {
  min-width: 80px;
}