.Modal {
  position: fixed;
  inset: 0;
  opacity: 0;
  transition: opacity 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  padding: 20px;
  border-radius: 12px;
  background-color: var(--bg-color);
  max-width: 50%;
  opacity: 0;
  transform: scale(0.5);
  transition:
    opacity 0.3s,
    transform 0.3s;
  height: max-content;
}

.modalEnter {
  opacity: 0;
}

.modalEnterDone {
  opacity: 1;
  transition: opacity 0.3s;
  z-index: var(--modal-z-index);

  .content {
    transform: scale(1);
    opacity: 1;
  }
}

.modalExitActive {
  opacity: 0;
  transition: opacity 0.3s;
}
