.navLink {
  display: block;
  position: relative;
  width: 100%;
  padding: 15px;
  overflow: hidden;

  &:hover,
  &.active {
    background-color: var(--bg-color);
    border-radius: 0 100px 100px 0;
  }

  &.active::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 100%;
    background-color: var(--primary-color);
  }
}

.collapsed {
  .name {
    opacity: 0;
    font-size: 0;
  }
}

.name {
  opacity: 1;
  transition: opacity 0.3s;
}

.icon {
  flex-shrink: 0;
}
